body {
	background: black;	
}

table {
	border-collapse:collapse;
}

table, th, td {
	padding: 0;
	margin: 0;
}

img.maple {
	display: block;
	margin: 0 auto;
	margin-top: -40px;
}

img.wires {
	display: block;
	margin: 0 auto;
	position: relative;
	left: 10px;
	z-index: -1;
	margin-top: 30px;
	position: relative;
	left: 12px;
}

table.xmas {
	margin: 0 auto;
	position: relative;
	top: 30px;
}

table.xmas td {
	padding: 7px;
	background: black url('../img/off.png');
}

table.xmas td.on {
	background: black url('../img/on.png');
}

span.xmas-config {
	display: none;
}
